body {
	font-family: "Arial", sans-serif;
	background-color: #b0e0e6;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 3.5rem;
	color: #2e8b57;
	background-color: #fef0cf;
	padding: 20px;
	margin-left: 80px;
	margin-right: 80px;
	display: block;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	color: #2e8b57;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

p {
	text-align: center;
	font-size: x-small;
	color: #2e8b57;
}

a {
	transition: 0.3s;
	color: black;
	text-align: center;
	display: block;
	margin: 20px auto;
	margin-bottom: 30px;
	background: white;
	width: fit-content;
	padding: 10px;
	animation: all 0.6s ease-in-out;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

a:hover {
	background-color: #3cb371;
	transform: scale(1.2);
	text-decoration: none;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.create-new-button,
.home-button {
	transition: 0.3s;
	color: black;
	text-align: center;
	display: block;
	background: white;
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	margin-bottom: 20px;
	margin-top: 40px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.create-new-button:hover,
.home-button:hover {
	background-color: #3cb371;
	transform: scale(1.1);
	text-decoration: none;
}

nav {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

nav a {
	text-decoration: none;
	font-size: 1.2rem;
	color: white;
	background-color: #2e8b57;
	padding: 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav a:hover {
	background-color: #3cb371;
}

table {
	width: 80%;
	margin: 20px auto;
	border-collapse: collapse;
	background-color: white;
	border-radius: 8px;
}

th,
td {
	border: 1px solid #ccc;
	padding: 12px;
	text-align: center;
}

th {
	background-color: #3cb371;
	color: white;
	font-size: 1.2rem;
}

td {
	font-size: 1rem;
	white-space: nowrap;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

td.actions {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.actions button {
	background: none;
	border: none;
	cursor: pointer;
}

.actions button svg {
	font-size: 1.2rem;
	color: #462260;
}

.actions button:hover svg {
	color: #3cb371;
}

button {
	color: black;
	text-align: center;
	display: inline-block;
	margin: 30;
	padding: 5px 5px;
	background: white;
	border: 2px solid #2e8b57;
	border-radius: 15px;
	transition: 0.3s;
	font-size: 1rem;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
	background-color: #3cb371;
	transform: scale(1.1);
	text-decoration: none;
}

footer {
	margin-top: 20px;
	text-align: center;
	font-size: 0.8rem;
}

.exercise-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 300px;
	margin: 0 auto;
}

.form-group {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 1.2rem;
	margin-bottom: 5px;
}

input,
select {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

.create-button {
	background-color: #2e8b57;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.create-button:hover {
	background-color: #3cb371;
}
